<aside class="sidebar bg-light border-end">

    <div class="sidebar-header p-3 border-bottom">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
            <h4 class="mb-0">Aries</h4>
        </a>
    </div>

    <ul class="nav flex-column p-3">
        <li class="nav-item">
            <a class="nav-link @((ViewContext.RouteData.Values["Controller"]?.ToString() == "Home" && 
                             ViewContext.RouteData.Values["Action"]?.ToString() == "Index") ? "active" : "")"
                asp-controller="Home" asp-action="Index">
                <i class="bi bi-house-door"></i>
                <span class="ms-2">Home</span>
            </a>
        </li>
        @if (User.Identity.IsAuthenticated)
        {
            <li class="nav-item">
                <a class="nav-link @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Department" ? "active" : "")"
                    asp-controller="Department" asp-action="Index">
                    <i class="bi bi-building"></i>
                    <span class="ms-2">Departments</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Employee" ? "active" : "")"
                    asp-controller="Employee" asp-action="Index">
                    <i class="bi bi-person"></i>
                    <span class="ms-2">Employee</span>
                </a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link @(ViewContext.RouteData.Values["Action"]?.ToString() == "Privacy" ? "active" : "")"
                asp-controller="Home" asp-action="Privacy">
                <i class="bi bi-shield-check"></i>
                <span class="ms-2">Privacy</span>
            </a>
        </li>
    </ul>
</aside>